html, body {
    background-color: whitesmoke;
    margin-top: 20;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Container{
    background-color: antiquewhite;
    width: 70vw;
}

.Header{
    background-color: whitesmoke;
    width: 70vw;
    padding: 10 0;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.Header__nav ul{
    display: flex;
    
    padding: 0;
    list-style: none;

    
}

.Header__nav ul li{
    justify-content: center;
    font-family: sans-serif;
    font-size: 2rem;
}

.Main{


}

.Main__text{

}

.Footer{

}