html, body {
    background-color: whitesmoke;
    margin-top: 20;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Container{
    background-color: antiquewhite;
    width: 70vw;
}